<br>
<div class="card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">Date : {{event.date.day}}-{{event.date.month}}-{{event.date.year}} | places : {{event.nbreDePlace}}</div>
  <div class="card-body text-dark">
    <h5 class="card-title">{{event.title}}</h5>
    <p class="card-text">{{event.description}}</p>

  </div>
  <div  class="btn btn-primary" (click)="getAllParticipants(event.id)">List</div>
</div>

<h5 class="jasmine-title">List of participants</h5>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let u of users">{{u.email}}</li>


</ul>
