<h5 class="text-primary">Update the event : {{event.title}}</h5>
<button (click)="back()" class="btn btn-primary">Go Back</button>

<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="Title"> Event Title</label>
    <input type="text" class="form-control" id="Title" name="title" [(ngModel)]="event.title" placeholder="ex: pizaa event .." required>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" name="description" [(ngModel)]="event.description" placeholder="description" required>
  </div>

  <div class="input-group">
    <input class="form-control" placeholder="yyyy-mm-dd"
           name="dp" [(ngModel)]="event.date" ngbDatepicker #d="ngbDatepicker">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
        <img src="../../../assets/img/calendar-icon.png" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
      </button>
    </div>
  </div>
  <div class="form-group">
    <label for="nbre">number of seats </label>
    <input type="number" class="form-control" id="nbre" name="nbreDeplace" [(ngModel)]="event.nbreDePlace"  required>
  </div>


  <button type="submit" class="btn btn-primary">Update</button>

</form>


